body {
    font-family: sans-serif;
    background-color: rgb(118, 177, 228);
    color: rgb(209, 19, 19);
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background-color: white
    
} 
    
.menu {
    list-style: none;
    display:flex;
    margin: 0 15px
}

li {
    display:flex;
    margin: 20px;

}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

section {
    padding: 2rem 0;
    border-top: 0.5cm solid;
}

input {
    width: 100%;
    padding: 1rem 0;
    border-top: 0.2cm solid;
    margin-bottom: 1cm;
}

textarea {
    width: 100%;
    padding: 1rem 0;
    border-top: 0.2cm solid;
    margin-bottom: 1cm;
}

button {
    background-color: aliceblue;
    color: black;
    padding: 0.7rem 0;
    width: 20%;
}

body.dark-mode {
  background-color: #2c3e50;
  color: #ecf0f1;
}

body.dark-mode .container {
  background-color: #34495e;
}

body.dark-mode a {
    color: #3498db;
}