body {
    font-family: sans-serif;
    background-color: rgb(118, 177, 228);
    color: rgb(209, 19, 19);
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
     padding: 1rem 2rem;
    background-color: white
    
} 
    
.menu {
    list-style: none;
    display:flex;
    margin: 0 15px
}

li {
    display:flex;
    margin: 20px;

}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}